{% extends "layout.html" %}
{% block sidebar %}
{% if message %}
<div class="alert alert-{{ message[0][0] }} d-flex" role="alert">{{ message[0][1] }}</div>
{% endif %}
{% endblock sidebar %}
{% block content %}
<h1>Сайт: {{url_data.name}}</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover mt-2" data-test="url">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{url_data[0].id}}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{url_data[0].name}}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{url_data[0].created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('add_check', id=url_data[0].id) }}">
  <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<div>
  <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
    {% if all_checks %}
    {% for check in all_checks %}
      <tr>
        <td>{{ check.id }}</td>
        <td>{{ check.status_code }}</td>
        <td>{{ check.h1 }}</td>
        <td>{{ check.title }}</td>
        <td>{{ check.description }}</td>
        <td>{{ check.created_at }}</td>
      </tr>
    </tbody>
    {% endfor %}
    {% endif %}
  </table>
</div>
{% endblock %}
